body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u5068 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:747px;
}
#u5069 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u5070 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u5071 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5072 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u5073 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5074 {
  position:absolute;
  left:226px;
  top:83px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5075 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:695px;
}
#u5076 {
  position:absolute;
  left:51px;
  top:115px;
  width:419px;
  height:695px;
}
#u5077 {
  position:absolute;
  left:2px;
  top:340px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FE0000;
}
#u5078 {
  position:absolute;
  left:174px;
  top:710px;
  width:53px;
  height:16px;
  color:#FE0000;
}
#u5079 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FE0000;
}
#u5080 {
  position:absolute;
  left:292px;
  top:710px;
  width:53px;
  height:16px;
  color:#FE0000;
}
#u5081 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5082 {
  position:absolute;
  left:171px;
  top:640px;
  width:60px;
  height:60px;
}
#u5083 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5084 {
  position:absolute;
  left:289px;
  top:640px;
  width:60px;
  height:60px;
}
#u5085 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
