body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u613 {
  position:absolute;
  left:480px;
  top:50px;
  width:420px;
  height:747px;
}
#u614 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u615 {
  position:absolute;
  left:480px;
  top:50px;
  width:420px;
  height:65px;
}
#u616 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  word-wrap:break-word;
}
#u617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617 {
  position:absolute;
  left:640px;
  top:80px;
  width:110px;
  height:30px;
}
#u618 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u619 {
  position:absolute;
  left:656px;
  top:83px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u620 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u621 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:747px;
}
#u622 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u623 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u624 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u625 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u626 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u627 {
  position:absolute;
  left:226px;
  top:83px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u629 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u630 {
  position:absolute;
  left:62px;
  top:132px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u632 {
  position:absolute;
  left:148px;
  top:127px;
  width:172px;
  height:25px;
}
#u632_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u633 {
  position:absolute;
  left:329px;
  top:132px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u636 {
  position:absolute;
  left:62px;
  top:477px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u637 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u638 {
  position:absolute;
  left:148px;
  top:472px;
  width:172px;
  height:25px;
}
#u638_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u639 {
  position:absolute;
  left:329px;
  top:477px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u642 {
  position:absolute;
  left:62px;
  top:520px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u643 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u644 {
  position:absolute;
  left:148px;
  top:515px;
  width:172px;
  height:25px;
}
#u644_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u645 {
  position:absolute;
  left:329px;
  top:520px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u648 {
  position:absolute;
  left:62px;
  top:434px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u650 {
  position:absolute;
  left:148px;
  top:429px;
  width:172px;
  height:25px;
}
#u650_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u651 {
  position:absolute;
  left:329px;
  top:434px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u653 {
  position:absolute;
  left:50px;
  top:161px;
  width:420px;
  height:1px;
}
#u654 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u655 {
  position:absolute;
  left:50px;
  top:290px;
  width:420px;
  height:1px;
}
#u656 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u657 {
  position:absolute;
  left:50px;
  top:333px;
  width:420px;
  height:1px;
}
#u658 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u659 {
  position:absolute;
  left:50px;
  top:420px;
  width:420px;
  height:1px;
}
#u660 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u662 {
  position:absolute;
  left:148px;
  top:560px;
  width:58px;
  height:25px;
}
#u662_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u663 {
  position:absolute;
  left:230px;
  top:560px;
  width:58px;
  height:25px;
}
#u663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u665 {
  position:absolute;
  left:62px;
  top:175px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u667 {
  position:absolute;
  left:148px;
  top:170px;
  width:172px;
  height:25px;
}
#u667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u668 {
  position:absolute;
  left:329px;
  top:175px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u671 {
  position:absolute;
  left:62px;
  top:218px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u673 {
  position:absolute;
  left:148px;
  top:213px;
  width:172px;
  height:25px;
}
#u673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u674 {
  position:absolute;
  left:329px;
  top:218px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u677 {
  position:absolute;
  left:62px;
  top:261px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u679 {
  position:absolute;
  left:148px;
  top:256px;
  width:172px;
  height:25px;
}
#u679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u680 {
  position:absolute;
  left:329px;
  top:261px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u683 {
  position:absolute;
  left:62px;
  top:304px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u685 {
  position:absolute;
  left:148px;
  top:299px;
  width:172px;
  height:25px;
}
#u685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u686 {
  position:absolute;
  left:329px;
  top:303px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u689 {
  position:absolute;
  left:62px;
  top:348px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u691 {
  position:absolute;
  left:148px;
  top:343px;
  width:172px;
  height:25px;
}
#u691_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u692 {
  position:absolute;
  left:329px;
  top:347px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u695 {
  position:absolute;
  left:62px;
  top:391px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u697 {
  position:absolute;
  left:148px;
  top:386px;
  width:172px;
  height:25px;
}
#u697_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u698 {
  position:absolute;
  left:329px;
  top:391px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u700 {
  position:absolute;
  left:910px;
  top:306px;
  width:324px;
  height:48px;
  color:#FF0000;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  white-space:nowrap;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u702 {
  position:absolute;
  left:910px;
  top:378px;
  width:464px;
  height:80px;
  color:#FF0000;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  white-space:nowrap;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u704 {
  position:absolute;
  left:50px;
  top:204px;
  width:420px;
  height:1px;
}
#u705 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u706 {
  position:absolute;
  left:50px;
  top:247px;
  width:420px;
  height:1px;
}
#u707 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u708 {
  position:absolute;
  left:50px;
  top:377px;
  width:420px;
  height:1px;
}
#u709 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u710 {
  position:absolute;
  left:50px;
  top:463px;
  width:420px;
  height:1px;
}
#u711 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u712 {
  position:absolute;
  left:50px;
  top:506px;
  width:420px;
  height:1px;
}
#u713 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u716 {
  position:absolute;
  left:492px;
  top:132px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u718 {
  position:absolute;
  left:578px;
  top:127px;
  width:172px;
  height:25px;
}
#u718_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u719 {
  position:absolute;
  left:759px;
  top:132px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u722 {
  position:absolute;
  left:492px;
  top:477px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u724 {
  position:absolute;
  left:578px;
  top:472px;
  width:172px;
  height:25px;
}
#u724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u725 {
  position:absolute;
  left:759px;
  top:477px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u728 {
  position:absolute;
  left:492px;
  top:520px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u730 {
  position:absolute;
  left:578px;
  top:515px;
  width:172px;
  height:25px;
}
#u730_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u731 {
  position:absolute;
  left:759px;
  top:520px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u733 {
  position:absolute;
  left:480px;
  top:161px;
  width:420px;
  height:1px;
}
#u734 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u736 {
  position:absolute;
  left:492px;
  top:434px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u738 {
  position:absolute;
  left:578px;
  top:429px;
  width:172px;
  height:25px;
}
#u738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u739 {
  position:absolute;
  left:759px;
  top:434px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u741 {
  position:absolute;
  left:480px;
  top:290px;
  width:420px;
  height:1px;
}
#u742 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u743 {
  position:absolute;
  left:480px;
  top:333px;
  width:420px;
  height:1px;
}
#u744 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u745 {
  position:absolute;
  left:480px;
  top:420px;
  width:420px;
  height:1px;
}
#u746 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u748 {
  position:absolute;
  left:578px;
  top:560px;
  width:58px;
  height:25px;
}
#u748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u749 {
  position:absolute;
  left:660px;
  top:560px;
  width:58px;
  height:25px;
}
#u749_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u751 {
  position:absolute;
  left:492px;
  top:175px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u753 {
  position:absolute;
  left:578px;
  top:170px;
  width:172px;
  height:25px;
}
#u753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u754 {
  position:absolute;
  left:759px;
  top:175px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u755 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u757 {
  position:absolute;
  left:492px;
  top:261px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u758 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u759 {
  position:absolute;
  left:578px;
  top:256px;
  width:172px;
  height:25px;
}
#u759_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u760 {
  position:absolute;
  left:759px;
  top:261px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u762 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u763 {
  position:absolute;
  left:492px;
  top:304px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u764 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u765 {
  position:absolute;
  left:578px;
  top:299px;
  width:172px;
  height:25px;
}
#u765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u766 {
  position:absolute;
  left:759px;
  top:303px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u768 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u769 {
  position:absolute;
  left:492px;
  top:348px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u771 {
  position:absolute;
  left:578px;
  top:343px;
  width:172px;
  height:25px;
}
#u771_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u772 {
  position:absolute;
  left:759px;
  top:347px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u775 {
  position:absolute;
  left:492px;
  top:391px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u776 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u777 {
  position:absolute;
  left:578px;
  top:386px;
  width:172px;
  height:25px;
}
#u777_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u778 {
  position:absolute;
  left:759px;
  top:391px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u779 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u781 {
  position:absolute;
  left:492px;
  top:218px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u782 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u783 {
  position:absolute;
  left:578px;
  top:213px;
  width:172px;
  height:25px;
}
#u783_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u784 {
  position:absolute;
  left:759px;
  top:218px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u786 {
  position:absolute;
  left:480px;
  top:204px;
  width:420px;
  height:1px;
}
#u787 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u788 {
  position:absolute;
  left:480px;
  top:247px;
  width:420px;
  height:1px;
}
#u789 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u790 {
  position:absolute;
  left:480px;
  top:377px;
  width:420px;
  height:1px;
}
#u791 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u792 {
  position:absolute;
  left:480px;
  top:463px;
  width:420px;
  height:1px;
}
#u793 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u794 {
  position:absolute;
  left:480px;
  top:506px;
  width:420px;
  height:1px;
}
#u795 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:682px;
}
#u796 {
  position:absolute;
  left:480px;
  top:115px;
  width:420px;
  height:682px;
}
#u797 {
  position:absolute;
  left:2px;
  top:333px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:247px;
}
#u798 {
  position:absolute;
  left:530px;
  top:282px;
  width:320px;
  height:247px;
}
#u799 {
  position:absolute;
  left:2px;
  top:116px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u800 {
  position:absolute;
  left:582px;
  top:341px;
  width:215px;
  height:16px;
  font-size:14px;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u802 {
  position:absolute;
  left:582px;
  top:367px;
  width:189px;
  height:16px;
  font-size:14px;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u804 {
  position:absolute;
  left:582px;
  top:393px;
  width:199px;
  height:16px;
  font-size:14px;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u806 {
  position:absolute;
  left:640px;
  top:451px;
  width:100px;
  height:25px;
}
#u806_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
}
#u807 {
  position:absolute;
  left:530px;
  top:282px;
  width:320px;
  height:33px;
}
#u808 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u809 {
  position:absolute;
  left:545px;
  top:291px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u811 {
  position:absolute;
  left:833px;
  top:290px;
  width:8px;
  height:16px;
  color:#000000;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u813 {
  position:absolute;
  left:201px;
  top:814px;
  width:118px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
