body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:863px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u4947 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:747px;
}
#u4948 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u4949 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u4950 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4951 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u4952 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4953 {
  position:absolute;
  left:226px;
  top:83px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4954 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4955 {
  position:absolute;
  left:62px;
  top:134px;
  width:40px;
  height:16px;
}
#u4956 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4957 {
  position:absolute;
  left:62px;
  top:175px;
  width:27px;
  height:16px;
}
#u4958 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4959 {
  position:absolute;
  left:62px;
  top:408px;
  width:27px;
  height:16px;
}
#u4960 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4961 {
  position:absolute;
  left:62px;
  top:210px;
  width:27px;
  height:16px;
}
#u4962 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4963 {
  position:absolute;
  left:142px;
  top:168px;
  width:302px;
  height:30px;
}
#u4963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4964 {
  position:absolute;
  left:142px;
  top:408px;
  width:70px;
  height:70px;
  font-size:48px;
}
#u4965 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u4966 {
  position:absolute;
  left:142px;
  top:210px;
  width:302px;
  height:186px;
}
#u4966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:186px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4967 {
  position:absolute;
  left:218px;
  top:511px;
  width:70px;
  height:30px;
}
#u4967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4968 {
  position:absolute;
  left:298px;
  top:511px;
  width:70px;
  height:30px;
}
#u4968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4969 {
  position:absolute;
  left:142px;
  top:127px;
  width:302px;
  height:30px;
}
#u4969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4969_input:disabled {
  color:grayText;
}
#u4970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4970 {
  position:absolute;
  left:480px;
  top:304px;
  width:383px;
  height:16px;
  color:#FF0000;
}
#u4971 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  white-space:nowrap;
}
