body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u2098 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:747px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u2100 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2104 {
  position:absolute;
  left:208px;
  top:83px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2106 {
  position:absolute;
  left:66px;
  top:131px;
  width:391px;
  height:583px;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2108 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u2109 {
  position:absolute;
  left:70px;
  top:0px;
  width:316px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2110 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2111 {
  position:absolute;
  left:0px;
  top:30px;
  width:70px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2112 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u2113 {
  position:absolute;
  left:70px;
  top:30px;
  width:316px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2114 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2115 {
  position:absolute;
  left:0px;
  top:60px;
  width:70px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2116 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u2117 {
  position:absolute;
  left:70px;
  top:60px;
  width:316px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2118 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:90px;
  width:70px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2120 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u2121 {
  position:absolute;
  left:70px;
  top:90px;
  width:316px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2122 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:120px;
  width:70px;
  height:36px;
  color:#999999;
  text-align:left;
}
#u2124 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:36px;
}
#u2125 {
  position:absolute;
  left:70px;
  top:120px;
  width:316px;
  height:36px;
  color:#999999;
  text-align:left;
}
#u2126 {
  position:absolute;
  left:2px;
  top:10px;
  width:312px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:422px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:156px;
  width:70px;
  height:422px;
  color:#999999;
  text-align:center;
}
#u2128 {
  position:absolute;
  left:2px;
  top:203px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:422px;
}
#u2129 {
  position:absolute;
  left:70px;
  top:156px;
  width:316px;
  height:422px;
  color:#999999;
  text-align:center;
}
#u2130 {
  position:absolute;
  left:2px;
  top:203px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2131 {
  position:absolute;
  left:95px;
  top:396px;
  width:14px;
  height:192px;
  color:#999999;
}
#u2132 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
