body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u4996 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:747px;
}
#u4997 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u4998 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u4999 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5000 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u5001 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5002 {
  position:absolute;
  left:226px;
  top:83px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5004 {
  position:absolute;
  left:67px;
  top:125px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5006 {
  position:absolute;
  left:67px;
  top:151px;
  width:144px;
  height:16px;
  color:#000000;
}
#u5007 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u5008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5008 {
  position:absolute;
  left:67px;
  top:177px;
  width:166px;
  height:16px;
  color:#000000;
}
#u5009 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u5010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u5010 {
  position:absolute;
  left:50px;
  top:198px;
  width:420px;
  height:1px;
}
#u5011 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5012 {
  position:absolute;
  left:67px;
  top:213px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5013 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5014 {
  position:absolute;
  left:67px;
  top:239px;
  width:144px;
  height:16px;
  color:#000000;
}
#u5015 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5016 {
  position:absolute;
  left:67px;
  top:265px;
  width:166px;
  height:16px;
  color:#000000;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u5018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u5018 {
  position:absolute;
  left:50px;
  top:286px;
  width:420px;
  height:1px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:-8px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5020 {
  position:absolute;
  left:67px;
  top:301px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u5021 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5022 {
  position:absolute;
  left:67px;
  top:327px;
  width:144px;
  height:16px;
  color:#000000;
}
#u5023 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5024 {
  position:absolute;
  left:67px;
  top:353px;
  width:166px;
  height:16px;
  color:#000000;
}
#u5025 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u5026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7030D;
}
#u5026 {
  position:absolute;
  left:396px;
  top:151px;
  width:27px;
  height:16px;
  color:#D7030D;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7030D;
}
#u5028 {
  position:absolute;
  left:396px;
  top:239px;
  width:27px;
  height:16px;
  color:#D7030D;
}
#u5029 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7030D;
}
#u5030 {
  position:absolute;
  left:396px;
  top:327px;
  width:27px;
  height:16px;
  color:#D7030D;
}
#u5031 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
