body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u1991 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:747px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u1993 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1995 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1997 {
  position:absolute;
  left:200px;
  top:83px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1999 {
  position:absolute;
  left:66px;
  top:131px;
  width:391px;
  height:600px;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2001 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u2002 {
  position:absolute;
  left:70px;
  top:0px;
  width:316px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2003 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:30px;
  width:70px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2005 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u2006 {
  position:absolute;
  left:70px;
  top:30px;
  width:316px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2007 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:60px;
  width:70px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2009 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u2010 {
  position:absolute;
  left:70px;
  top:60px;
  width:316px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2011 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:90px;
  width:70px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2013 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u2014 {
  position:absolute;
  left:70px;
  top:90px;
  width:316px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2015 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:120px;
  width:70px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2017 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u2018 {
  position:absolute;
  left:70px;
  top:120px;
  width:316px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2019 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2020 {
  position:absolute;
  left:0px;
  top:150px;
  width:70px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2021 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u2022 {
  position:absolute;
  left:70px;
  top:150px;
  width:316px;
  height:30px;
  color:#999999;
  text-align:center;
}
#u2023 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2024 {
  position:absolute;
  left:0px;
  top:180px;
  width:70px;
  height:36px;
  color:#999999;
  text-align:left;
}
#u2025 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:36px;
}
#u2026 {
  position:absolute;
  left:70px;
  top:180px;
  width:316px;
  height:36px;
  color:#999999;
  text-align:center;
}
#u2027 {
  position:absolute;
  left:2px;
  top:10px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2028 {
  position:absolute;
  left:0px;
  top:216px;
  width:70px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u2029 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
}
#u2030 {
  position:absolute;
  left:70px;
  top:216px;
  width:316px;
  height:30px;
  color:#999999;
  text-align:center;
}
#u2031 {
  position:absolute;
  left:2px;
  top:7px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:349px;
}
#u2032 {
  position:absolute;
  left:0px;
  top:246px;
  width:70px;
  height:349px;
  color:#999999;
  text-align:center;
}
#u2033 {
  position:absolute;
  left:2px;
  top:166px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:349px;
}
#u2034 {
  position:absolute;
  left:70px;
  top:246px;
  width:316px;
  height:349px;
  color:#999999;
  text-align:center;
}
#u2035 {
  position:absolute;
  left:2px;
  top:166px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2036 {
  position:absolute;
  left:95px;
  top:512px;
  width:14px;
  height:64px;
  color:#999999;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
