body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u3608 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:747px;
}
#u3609 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u3610 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u3611 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3612 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u3613 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3614 {
  position:absolute;
  left:208px;
  top:83px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3615 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u3616 {
  position:absolute;
  left:504px;
  top:318px;
  width:416px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u3617 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  white-space:nowrap;
}
#u3618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3618 {
  position:absolute;
  left:368px;
  top:125px;
  width:28px;
  height:16px;
  color:#CCCCCC;
}
#u3619 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3620 {
  position:absolute;
  left:398px;
  top:125px;
  width:67px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3621 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 121, 176, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3622 {
  position:absolute;
  left:245px;
  top:125px;
  width:35px;
  height:16px;
}
#u3623 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3624 {
  position:absolute;
  left:282px;
  top:125px;
  width:67px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3625 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3626 {
  position:absolute;
  left:68px;
  top:174px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3627 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3628 {
  position:absolute;
  left:209px;
  top:174px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3629 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3630 {
  position:absolute;
  left:347px;
  top:174px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3631 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3632 {
  position:absolute;
  left:70px;
  top:244px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3633 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3634 {
  position:absolute;
  left:210px;
  top:244px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3635 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3636 {
  position:absolute;
  left:348px;
  top:244px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3637 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3638 {
  position:absolute;
  left:71px;
  top:318px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3639 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3640 {
  position:absolute;
  left:211px;
  top:318px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3641 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3642 {
  position:absolute;
  left:349px;
  top:318px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3643 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3644 {
  position:absolute;
  left:70px;
  top:389px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3645 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3646 {
  position:absolute;
  left:210px;
  top:389px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3647 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3648 {
  position:absolute;
  left:348px;
  top:389px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3649 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3650 {
  position:absolute;
  left:66px;
  top:450px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3651 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3652 {
  position:absolute;
  left:207px;
  top:450px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3653 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3654 {
  position:absolute;
  left:345px;
  top:450px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3655 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3656 {
  position:absolute;
  left:68px;
  top:520px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3657 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3658 {
  position:absolute;
  left:208px;
  top:520px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3659 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3660 {
  position:absolute;
  left:346px;
  top:520px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3661 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3662 {
  position:absolute;
  left:69px;
  top:594px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3663 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3664 {
  position:absolute;
  left:209px;
  top:594px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3665 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3666 {
  position:absolute;
  left:347px;
  top:594px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3667 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3668 {
  position:absolute;
  left:68px;
  top:665px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3669 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3670 {
  position:absolute;
  left:208px;
  top:665px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3671 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3672 {
  position:absolute;
  left:346px;
  top:665px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3673 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u3674 {
  position:absolute;
  left:514px;
  top:125px;
  width:358px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u3675 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  white-space:nowrap;
}
#u3676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3676 {
  position:absolute;
  left:70px;
  top:125px;
  width:55px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3677 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u3678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u3678 {
  position:absolute;
  left:514px;
  top:99px;
  width:234px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u3679 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
