body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:921px;
}
#u503 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:921px;
}
#u504 {
  position:absolute;
  left:2px;
  top:452px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u505 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u506 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u507 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u508 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u509 {
  position:absolute;
  left:226px;
  top:83px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:20px;
}
#u511 {
  position:absolute;
  left:66px;
  top:131px;
  width:394px;
  height:40px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:20px;
}
#u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u513 {
  position:absolute;
  left:197px;
  top:177px;
  width:105px;
  height:16px;
}
#u514 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:20px;
}
#u515 {
  position:absolute;
  left:66px;
  top:371px;
  width:394px;
  height:61px;
  color:#999999;
  line-height:20px;
}
#u516 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:20px;
}
#u517 {
  position:absolute;
  left:66px;
  top:440px;
  width:394px;
  height:105px;
  color:#999999;
  line-height:20px;
}
#u518 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u520 {
  position:absolute;
  left:68px;
  top:820px;
  width:390px;
  height:70px;
  font-size:12px;
}
#u521 {
  position:absolute;
  left:2px;
  top:27px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u522 {
  position:absolute;
  left:82px;
  top:830px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u523 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u524 {
  position:absolute;
  left:82px;
  top:862px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u525 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:155px;
}
#u526 {
  position:absolute;
  left:68px;
  top:203px;
  width:390px;
  height:155px;
}
#u527 {
  position:absolute;
  left:2px;
  top:70px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
