body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u297 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:747px;
}
#u298 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u299 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u300 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u301 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u302 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u303 {
  position:absolute;
  left:226px;
  top:83px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u305 {
  position:absolute;
  left:106px;
  top:131px;
  width:320px;
  height:16px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u306 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u307 {
  position:absolute;
  left:197px;
  top:153px;
  width:105px;
  height:16px;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:20px;
}
#u309 {
  position:absolute;
  left:66px;
  top:175px;
  width:399px;
  height:225px;
  color:#999999;
  line-height:20px;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  word-wrap:break-word;
}
#u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:20px;
}
#u311 {
  position:absolute;
  left:91px;
  top:414px;
  width:349px;
  height:266px;
  color:#999999;
  line-height:20px;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u314 {
  position:absolute;
  left:71px;
  top:700px;
  width:390px;
  height:70px;
  font-size:12px;
}
#u315 {
  position:absolute;
  left:2px;
  top:27px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u316 {
  position:absolute;
  left:84px;
  top:710px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u318 {
  position:absolute;
  left:84px;
  top:742px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
