body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:1070px;
}
#u592 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:1070px;
}
#u593 {
  position:absolute;
  left:2px;
  top:527px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u594 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u595 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u596 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u597 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u598 {
  position:absolute;
  left:226px;
  top:83px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u599 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:20px;
}
#u600 {
  position:absolute;
  left:66px;
  top:170px;
  width:394px;
  height:105px;
  color:#999999;
  line-height:20px;
}
#u601 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u602 {
  position:absolute;
  left:168px;
  top:125px;
  width:184px;
  height:16px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u604 {
  position:absolute;
  left:197px;
  top:149px;
  width:105px;
  height:16px;
  color:#000000;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u606 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u607 {
  position:absolute;
  left:66px;
  top:1028px;
  width:390px;
  height:70px;
  font-size:12px;
}
#u608 {
  position:absolute;
  left:2px;
  top:27px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u609 {
  position:absolute;
  left:80px;
  top:1038px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u610 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u611 {
  position:absolute;
  left:80px;
  top:1070px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u612 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
