body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:537px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u2038 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:747px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u2040 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2042 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2044 {
  position:absolute;
  left:208px;
  top:83px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2047 {
  position:absolute;
  left:62px;
  top:131px;
  width:300px;
  height:16px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2049 {
  position:absolute;
  left:62px;
  top:153px;
  width:78px;
  height:16px;
  color:#999999;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u2051 {
  position:absolute;
  left:50px;
  top:252px;
  width:419px;
  height:1px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2053 {
  position:absolute;
  left:62px;
  top:176px;
  width:78px;
  height:16px;
  color:#999999;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2055 {
  position:absolute;
  left:62px;
  top:199px;
  width:98px;
  height:16px;
  color:#999999;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2057 {
  position:absolute;
  left:62px;
  top:222px;
  width:108px;
  height:16px;
  color:#999999;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2059 {
  position:absolute;
  left:479px;
  top:404px;
  width:58px;
  height:16px;
  color:#FF0000;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2062 {
  position:absolute;
  left:62px;
  top:267px;
  width:300px;
  height:16px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2064 {
  position:absolute;
  left:62px;
  top:289px;
  width:78px;
  height:16px;
  color:#999999;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u2066 {
  position:absolute;
  left:50px;
  top:388px;
  width:419px;
  height:1px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2068 {
  position:absolute;
  left:62px;
  top:312px;
  width:78px;
  height:16px;
  color:#999999;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2070 {
  position:absolute;
  left:62px;
  top:335px;
  width:98px;
  height:16px;
  color:#999999;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2072 {
  position:absolute;
  left:62px;
  top:358px;
  width:108px;
  height:16px;
  color:#999999;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2075 {
  position:absolute;
  left:62px;
  top:402px;
  width:300px;
  height:16px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2077 {
  position:absolute;
  left:62px;
  top:424px;
  width:78px;
  height:16px;
  color:#999999;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u2079 {
  position:absolute;
  left:50px;
  top:523px;
  width:419px;
  height:1px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2081 {
  position:absolute;
  left:62px;
  top:447px;
  width:78px;
  height:16px;
  color:#999999;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2083 {
  position:absolute;
  left:62px;
  top:470px;
  width:98px;
  height:16px;
  color:#999999;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2085 {
  position:absolute;
  left:62px;
  top:493px;
  width:108px;
  height:16px;
  color:#999999;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2088 {
  position:absolute;
  left:62px;
  top:538px;
  width:300px;
  height:16px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2090 {
  position:absolute;
  left:62px;
  top:560px;
  width:78px;
  height:16px;
  color:#999999;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2092 {
  position:absolute;
  left:62px;
  top:583px;
  width:78px;
  height:16px;
  color:#999999;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2094 {
  position:absolute;
  left:62px;
  top:606px;
  width:98px;
  height:16px;
  color:#999999;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2096 {
  position:absolute;
  left:62px;
  top:629px;
  width:108px;
  height:16px;
  color:#999999;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
