body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u3814 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:747px;
}
#u3815 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u3816 {
  position:absolute;
  left:50px;
  top:50px;
  width:420px;
  height:65px;
}
#u3817 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3818 {
  position:absolute;
  left:210px;
  top:80px;
  width:110px;
  height:30px;
}
#u3819 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3820 {
  position:absolute;
  left:208px;
  top:83px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3821 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u3822 {
  position:absolute;
  left:504px;
  top:318px;
  width:416px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  white-space:nowrap;
}
#u3824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u3824 {
  position:absolute;
  left:368px;
  top:125px;
  width:28px;
  height:16px;
  color:#CCCCCC;
}
#u3825 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3826 {
  position:absolute;
  left:398px;
  top:125px;
  width:67px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3827 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 121, 176, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3828 {
  position:absolute;
  left:245px;
  top:125px;
  width:35px;
  height:16px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3830 {
  position:absolute;
  left:282px;
  top:125px;
  width:67px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3831 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3832 {
  position:absolute;
  left:68px;
  top:174px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3833 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3834 {
  position:absolute;
  left:209px;
  top:174px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3835 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3836 {
  position:absolute;
  left:347px;
  top:174px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3837 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3838 {
  position:absolute;
  left:70px;
  top:244px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3839 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3840 {
  position:absolute;
  left:210px;
  top:244px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3841 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3842 {
  position:absolute;
  left:348px;
  top:244px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3843 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3844 {
  position:absolute;
  left:71px;
  top:318px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3845 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3846 {
  position:absolute;
  left:211px;
  top:318px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3847 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3848 {
  position:absolute;
  left:349px;
  top:318px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3849 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3850 {
  position:absolute;
  left:70px;
  top:389px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3851 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3852 {
  position:absolute;
  left:210px;
  top:389px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3853 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3854 {
  position:absolute;
  left:348px;
  top:389px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3855 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3856 {
  position:absolute;
  left:66px;
  top:450px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3857 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3858 {
  position:absolute;
  left:207px;
  top:450px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3859 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3860 {
  position:absolute;
  left:345px;
  top:450px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3861 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3862 {
  position:absolute;
  left:68px;
  top:520px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3863 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3864 {
  position:absolute;
  left:208px;
  top:520px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3865 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3866 {
  position:absolute;
  left:346px;
  top:520px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3867 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3868 {
  position:absolute;
  left:69px;
  top:594px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3869 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3870 {
  position:absolute;
  left:209px;
  top:594px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3871 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3872 {
  position:absolute;
  left:347px;
  top:594px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3873 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3874 {
  position:absolute;
  left:68px;
  top:665px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3875 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3876 {
  position:absolute;
  left:208px;
  top:665px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3877 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3878 {
  position:absolute;
  left:346px;
  top:665px;
  width:110px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u3879 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u3880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u3880 {
  position:absolute;
  left:514px;
  top:125px;
  width:358px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  white-space:nowrap;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3882 {
  position:absolute;
  left:70px;
  top:125px;
  width:55px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3883 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u3884 {
  position:absolute;
  left:514px;
  top:99px;
  width:234px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u3885 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
